.connection-image {
	width: 100%;
}

.connection-image img {
	width: 100%;
}

.connection-button {
	-webkit-appearance: none;
	background-color: var(--color-brand-blue);
	color: var(--color-white);
	font-weight: 400;
}

.connection-button:hover {
	color: var(--color-white);
}

.connection-description {
	font-size: 16px;
	font-weight: 300;
}

@media screen and (max-width: 768px) {
	.connection-item {
		margin-bottom: 20px;
	}

	.connection-button {
		width: 100%;
	}
}
